{% extends "AirblogBundle::base.html.twig" %}

{% block pageTitle %}Nieoczekiwany błąd{% endblock %}

{% block contentTitle %}Nieoczekiwany błąd{% endblock %}

{% set hideSidebar = true %}

{% block content %}
    <div class="error-page">
        <img src="{{ asset('bundles/airblog/img/error500.png') }}" alt="error500">
    </div>

{% endblock %}
