{% extends "AirblogBundle::base.html.twig" %}

{% block pageTitle %}Wpisy w kategorii "Kategoria"{% endblock %}

{% block contentTitle %}Wpisy w kategorii "Kategoria"{% endblock %}

{% block content %}
    <div class="left-side">

        <article class="post">
            <header>
                <h1>Suspendisse molestie vivamus fermentum</h1>

                <div class="meta-data">
                    <div class="author">Autor <a href="#">macq</a></div>
                    <div class="create-date">Dodano 11.12.2013</div>
                </div>
            </header>

            <div class="thumbnail">
                <div class="meta-data">
                    <div class="categories">
                        Kategoria: 
                        <a href="#">Samoloty</a>
                    </div>

                    <div class="tags">
                        Tagi: 
                        <a href="#">A380</a>
                        <a href="#">airbus</a>
                        <a href="#">odrzutowe</a>
                    </div>
                </div>

                <img src="img/default-thumbnail.jpg" alt="">
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, et, quasi, sit omnis atque veniam aut illum quibusdam quaerat earum ipsam ipsum rem adipisci? Odio, deserunt, officiis, iure optio rem libero soluta impedit dolorum laboriosam fugit laborum consequuntur quo minus repellendus adipisci aut quas rerum aliquam culpa consectetur animi ea reiciendis nihil nemo ipsam. Non, illum magni culpa nam quis placeat a assumenda similique. Sed, quasi, nisi, officiis animi impedit pariatur cupiditate quos quae laborum sint possimus ab consequatur magni veniam suscipit nesciunt et hic mollitia debitis exercitationem quidem dignissimos nemo harum cumque itaque! Quisquam natus minima voluptates facilis adipisci!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, placeat, ipsum magni explicabo minima numquam. Praesentium, maiores, nisi temporibus quis id velit sequi? Quasi, veniam, culpa, quidem debitis maxime impedit minima eius explicabo officiis illum enim vel quibusdam a porro beatae quaerat iure accusantium quod nostrum rem nesciunt alias ipsum aut blanditiis in error nihil amet vitae pariatur optio ex eveniet tempore tenetur. Pariatur, unde optio quas eum nostrum atque eos eius eveniet commodi aliquid sit odit ex tempore velit magni excepturi voluptatem dolorem adipisci placeat officiis dolorum consequuntur suscipit iste quaerat non officia sint numquam quos cum vero neque.</p>
        </article>

        <div class="notification block">
            Aby dodać komentarz <strong>musisz się <a href="#">zalogować lub zarejestrować</a></strong>
        </div>

        <section class="post-comments">
            <header>
                <h3>Komentarze (12)</h3>
            </header>

            <div class="comment">
                <img class="thumbnail" src="img/default-avatar.jpg" alt="">

                <div class="body">
                    <div class="author">Jonno Riekwel</div>
                    <div class="create-date">17/19/2013</div>

                    <div class="clearfix"></div>

                    <form action="#" method="post">
                        <div class="form-row error">
                            <textarea name="comment" id="comment-body"></textarea>
                            <span>Ta wartość nie powinna być pusta.</span>
                        </div>
                        <button id="save-comment" class="submit btn-green">Dodaj</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

            <div class="comment">
                <img class="thumbnail" src="img/default-avatar.jpg" alt="">

                <div class="body">
                    <div class="author">
                        Gedy Rivera
                        <div class="divider"></div>
                        <a href="#" class="delete">Usuń</a>
                    </div>
                    <div class="create-date">17/19/2013</div>

                    <div class="clearfix"></div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus autem hic nobis consequatur dolore reiciendis quaerat enim eligendi velit.</p>
                </div>
            </div>

            <div class="comment">
                <img class="thumbnail" src="img/default-avatar.jpg" alt="">

                <div class="body">
                    <div class="author">
                        Jonno Riekwel
                        <div class="divider"></div>
                        <a href="#" class="delete">Usuń</a>
                    </div>
                    <div class="create-date">17/19/2013</div>

                    <div class="clearfix"></div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus autem hic nobis consequatur dolore reiciendis quaerat enim eligendi velit.</p>
                </div>
            </div>

            <div class="comment">
                <img class="thumbnail" src="img/default-avatar.jpg" alt="">

                <div class="body">
                    <div class="author">
                        Rogie King
                        <div class="divider"></div>
                        <a href="#" class="delete">Usuń</a>
                    </div>
                    <div class="create-date">17/19/2013</div>

                    <div class="clearfix"></div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus autem hic nobis consequatur dolore reiciendis quaerat enim eligendi velit.</p>
                </div>
            </div>
        </section>

    </div> <!-- .left -->
{% endblock %}

