<ul>
    {% for name,route in mainMenu %}
        {% if app.request.get('_route') == route %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{ path(route) }}">{{ name }}</a>
        </li>
    {% endfor %}
</ul>